:root {
    --primary-color: #1ed760;
    --white-color: #fff;
    --black-color: #121212;
    --text-color: #c7c7c7;
}

* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6rem;
    height: 100%;
}

body {
    height: 100%;
}

.background {
    background-image: linear-gradient(0, black, #333333);
    color: var(--text-color);
    padding: 30px 0px 0px 0px;
}

.input-50 {
    height: 50px;
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}